<picture>
    <!-- avif -->
    <source
        [srcset]="path | compressedMenuImage: 256 : 'avif'"
        media="(max-width: 512px)"
        type="image/avif"
    />
    <source
        [srcset]="path | compressedMenuImage: 512 : 'avif'"
        media="(max-width: 1024px)"
        type="image/avif"
    />
    <source
        [srcset]="path | compressedMenuImage: 1024 : 'avif'"
        media="(max-width: 2048px)"
        type="image/avif"
    />
    <!-- webp -->
    <source
        [srcset]="path | compressedMenuImage: 256 : 'webp'"
        media="(max-width: 512px)"
        type="image/webp"
    />
    <source
        [srcset]="path | compressedMenuImage: 512 : 'webp'"
        media="(max-width: 1024px)"
        type="image/webp"
    />
    <source
        [srcset]="path | compressedMenuImage: 1024 : 'webp'"
        media="(max-width: 2048px)"
        type="image/webp"
    />
    <!-- jpeg -->
    <source
        [srcset]="path | compressedMenuImage: 256 : 'jpg'"
        media="(max-width: 512px)"
        type="image/jpeg"
    />
    <source
        [srcset]="path | compressedMenuImage: 512 : 'jpg'"
        media="(max-width: 1024px)"
        type="image/jpeg"
    />
    <source
        [srcset]="path | compressedMenuImage: 1024 : 'jpg'"
        media="(max-width: 2048px)"
        type="image/jpeg"
    />
    <!-- original -->
    <img [src]="path | compressedMenuImage: 1024 : 'jpg'" />
</picture>
