<div #nav class="nav">
    <ng-container *ngIf="menu$ | async as menu">
        <div *ngFor="let section of menu.sections" class="nav-item">
            <a
                #navItem
                mat-button
                appNavItem
                [sectionName]="section.caption"
                [class.mat-accent]="
                    (currentSection$ | async) === section.caption
                "
                (click)="scrollToSection(section)"
            >
                <div class="button-content">
                    <mat-icon [svgIcon]="section.iconPath" class="icon" />
                    <span class="caption">{{ section.caption }}</span>
                </div>
            </a>
        </div>
    </ng-container>
</div>
