<main>
    <div class="menu-container" *ngIf="menu$ | async as menu">
        <h1 class="menu-caption mat-headline-3">MENU</h1>

        <div class="menu-sections">
            <div *ngFor="let section of menu.sections">
                <h2 class="section-caption">
                    {{ section.caption }}
                </h2>
                <mat-accordion multi>
                    <mat-expansion-panel
                        *ngFor="let item of section.items"
                        [hideToggle]="item.price !== undefined"
                    >
                        <mat-expansion-panel-header>
                            <mat-panel-title> {{ item.name }} </mat-panel-title>
                            <mat-panel-description
                                *ngIf="item.price !== undefined"
                                class="price-tag"
                            >
                                {{ item.price | localNumber }} تومان
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</main>
