main {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.menu-container {
    flex-grow: 1;
    max-width: 60rem;
}

.menu-caption {
    text-align: center;
    letter-spacing: 0.2ch;
    font-weight: lighter;
    font-size: 3em;
    margin-top: 0;
}

.price-tag {
    justify-content: end;
}
