<div class="layout">
    <mat-toolbar color="primary" class="header" role="banner">
        <div class="logo-container">
            <img alt="Cafe Chia logo" src="/assets/logo.png" class="logo" />
            <img
                alt="Cafe Chia"
                src="/assets/logo text.png"
                class="logo-text"
            />
        </div>
    </mat-toolbar>

    <router-outlet hidden />

    <footer>
        <mat-toolbar color="primary" class="footer">
            <div class="contact">
                <span> کافه چیا </span>
                &bullet;
                <app-contact-link platform="instagram" handle="cafe._.chia" />
            </div>
        </mat-toolbar>
    </footer>
</div>

<router-outlet name="preview" />

@if (isProduction) {
    <app-analytics />
}
