<div class="layout">
    <mat-toolbar color="primary" class="header" role="banner">
        <div class="logo-container">
            <img alt="Cafe Chia logo" src="/assets/logo.png" class="logo" />
            <img
                alt="Cafe Chia"
                src="/assets/logo text.png"
                class="logo-text"
            />
        </div>
    </mat-toolbar>

    <mat-drawer-container>
        <mat-drawer mode="side" opened position="end">
            <app-navbar />
        </mat-drawer>
        <mat-drawer-content>
            <router-outlet hidden />
        </mat-drawer-content>
    </mat-drawer-container>

    <footer>
        <mat-toolbar color="primary" class="footer">
            <div class="contact">
                <span> کافه چیا </span>
                &bullet;
                <app-contact-link platform="instagram" handle="cafe._.chia" />
            </div>
        </mat-toolbar>
    </footer>
</div>
