<section>
    <h2 class="section-caption" [id]="section.caption">
        {{ section.caption }}
    </h2>

    <div class="menu-items">
        <mat-card *ngFor="let item of section.items">
            <mat-card-header>
                <div class="card-header">
                    <picture
                        *ngIf="item.imagePath; else defaultThumbnail"
                        class="thumbnail"
                    >
                        <!-- avif -->
                        <source
                            [srcset]="getThumbnail(item, 256, 'avif')"
                            media="(max-width: 512px)"
                            type="image/avif"
                        />
                        <source
                            [srcset]="getThumbnail(item, 512, 'avif')"
                            media="(max-width: 1024px)"
                            type="image/avif"
                        />
                        <source
                            [srcset]="getThumbnail(item, 1024, 'avif')"
                            media="(max-width: 2048px)"
                            type="image/avif"
                        />
                        <!-- webp -->
                        <source
                            [srcset]="getThumbnail(item, 256, 'webp')"
                            media="(max-width: 512px)"
                            type="image/webp"
                        />
                        <source
                            [srcset]="getThumbnail(item, 512, 'webp')"
                            media="(max-width: 1024px)"
                            type="image/webp"
                        />
                        <source
                            [srcset]="getThumbnail(item, 1024, 'webp')"
                            media="(max-width: 2048px)"
                            type="image/webp"
                        />
                        <!-- jpeg -->
                        <source
                            [srcset]="getThumbnail(item, 256, 'jpg')"
                            media="(max-width: 512px)"
                            type="image/jpeg"
                        />
                        <source
                            [srcset]="getThumbnail(item, 512, 'jpg')"
                            media="(max-width: 1024px)"
                            type="image/jpeg"
                        />
                        <source
                            [srcset]="getThumbnail(item, 1024, 'jpg')"
                            media="(max-width: 2048px)"
                            type="image/jpeg"
                        />
                        <!-- original -->
                        <img [src]="getThumbnail(item, 1024, 'jpg')" />
                    </picture>

                    <ng-template #defaultThumbnail>
                        <mat-icon
                            [svgIcon]="'category:' + section.iconPath"
                            class="default-thumbnail"
                        ></mat-icon>
                    </ng-template>

                    <div class="item-details">
                        <mat-card-title>{{ item.name }}</mat-card-title>
                        <mat-card-subtitle
                            *ngIf="item.price !== undefined"
                            class="description"
                        >
                            {{ item.description }}
                        </mat-card-subtitle>
                        <mat-card-title
                            *ngIf="item.price !== undefined"
                            class="price-tag"
                        >
                            {{ item.price | localNumber }} تومان
                        </mat-card-title>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-content> </mat-card-content>
        </mat-card>
    </div>
</section>
